[Desktop Entry]
Type=Application
Version=1.0
Name=Interpolate
Comment=GPU video frame interpolation
Exec=interpolate
TryExec=interpolate
Terminal=false
Categories=AudioVideo;Video;
StartupNotify=true
Keywords=interpolation;rife;video;
